::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: grey;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: grey;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: grey;
}

input::placeholder { /* Most modern browsers support this now. */
 color: #808080;
}

#zoom-button:hover {
  transform: translateY(-8px);
  background-color: grey !important;
}

#search-field {
  transition: all 250ms;
}

#search-field input {
  transition: all 250ms;
}

#search-field:hover {
  transform: translateY(-8px);
}

#search-field input:hover {
  background-color: rgb(195, 188, 188) !important;
}

.panel-content div:first-child {
  overflow: scroll;
  transform-origin: left;
}